{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block body %}
  <div class="categories">
  <h1 class="padding-bottom">Categories</h1>

  <div class="row category-row">
    {% for category in categories %}
      <div class="col-md-4 category-col">
      <a href="/category/{{ category.slug }}" class="no-deco">
        <div class="thumbnail">
          {% if category.img %}
            <img src="{{ category.img|thumbnail_url:'thumb' }}">
          {% else %}
            <img width="100%" src="{% static 'images/mains.jpg' %}" class="food-img-2">
          {% endif %}
          <div class="caption">
            <h2>{{ category.name }}</h2></div>

          <!-- Delete Category -->
          <a href="#" class="btn btn-default btn-sm btn-favorite" role="button">
              <span class="glyphicon glyphicon-trash white"></span>
            </a>

          <!-- Edit Category-->
          <a href="#" class="btn btn-default btn-sm btn-favorite" role="button">
            <span class="glyphicon glyphicon-edit white"></span>
          </a>
        </div>
</a>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}