{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block body %}
  <h1>Food.</h1>
  <div class="w-section tabs-section" data-ix="fade-in-bottom-page-loads">
    <div data-duration-in="500" data-duration-out="100" data-easing="ease-in" class="w-tabs">
      <div class="w-tab-menu category-menu">
        {% for category, food in categories.items %}
          <a data-w-tab="{{ category.name }}" data-ix="underline-when-clicked" class="w-tab-link w--current w-inline-block category-tab">
            <div class="tab-text">{{ category.name }}</div>
          </a>
        {% endfor %}
      </div>
      <div class="w-tab-content tabs-content">
        {% for category, food in categories.items %}
          <div data-w-tab="{{ category.name }}" class="w-tab-pane w--tab-active">
            <div class="food-div-shownhide">
              <div class="row food-row">
                {% for f in food %}
                  <div class="col-md-4 col-centered">
                    <div class="food-div">

                      <a href="/food/{{ f.slug  }}">
                        {% if f.img %}
                          <img src="{{ f.img|thumbnail_url:'thumb' }}" class="food-img-2">
                        {% else %}
                          <img width="100%" src="{% static 'images/mains.jpg' %}" class="food-img-2">
                        {% endif %}
                        <h3>{{ f.name }}</h3>

                      </a>

                    </div>
                  </div>

                  {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="w-row food-row">
                  {% endif %}
                {% endfor %}
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}