{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block body %}
  <div class="categories">
    <h1 class="padding-bottom">Categories</h1>

    <div class="row category-row">
      {% for f in food %}
        <div class="col-md-4 category-col">
          <a href="/food/{{ f.slug }}" class="no-deco">
            <div class="thumbnail">
              {% if f.img %}
                <img src="{{ f.img|thumbnail_url:'thumb' }}">
              {% else %}
                <img width="100%" src="{% static 'images/mains.jpg' %}">
              {% endif %}
              <div class="caption">
                <h2>{{ f.name }}</h2>
                <h4 class="align-left">Duration: {{ f.duration }}</h4>
                <h4 class="align-left">Last cooked: {{ f.last_cooked }}</h4>

              </div>

              <!-- Delete Category -->
              <a href="#" class="btn btn-default btn-sm btn-favorite" role="button">
                <span class="glyphicon glyphicon-trash white"></span>
              </a>

              <!-- Edit Category-->
              <a href="#" class="btn btn-default btn-sm btn-favorite" role="button">
                <span class="glyphicon glyphicon-edit white"></span>
              </a>
            </div>
          </a>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
          </div>
          <div class="row category-row">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}