{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block body %}
  <h1 class="centered padding-bottom">{{ food.name }}‍</h1>

  <div class="centered">
    <div class=row">
      <div class="col-md-3">
        {% if food.img %}
          <img src="{{ food.img|thumbnail_url:'thumb' }}">
        {% else %}
          <img width="100%" src="{% static 'images/placeholder3.png' %}" class="img-circle box-shadow">
        {% endif %}
      </div>

      <div class="col-md-3 align-left golden-border">
        {#        <div class="recipe-div">#}
        <h2><span class="glyphicon glyphicon-book">&nbsp;Rezept</span></h2>
        <p class="lobester">
          {% if food.recipe %}
          {{ food.recipe }}
          {% else %}
            None
          {% endif %}
          {#        </div>#}
      </div>

          <div class="col-md-3 align-left golden-border">
        <h2 ><span class="glyphicon glyphicon glyphicon-shopping-cart">&nbsp;Zutaten</span> </h2>
        <ul class="ingredients-list ">
          {% if food.get_ingredients %}
            {% for ing in food.get_ingredients %}
              <li class="list-item lobester">{{ ing.amount }}&nbsp;{{ ing.name }}&nbsp;</li>
            {% endfor %}
            </ul>
            {% else %}
            None
          {% endif %}


      </div>

      <div class="col-md-3 align-left golden-border">
        <div class="row">
          <div class="col-1 align-left">
            <h2><span class="glyphicon glyphicon-time">&nbsp;
            {% if food.duration %}
              {{ food.get_duration_display }}
                            {% else %}
              -
              {% endif %}
            </span></h2>
          </div>
                  <div class="col-1 align-left golden-border">
            <h2><span class="glyphicon glyphicon-calendar">&nbsp;
            {% if food.last_cooked%}
              {{ food.last_cooked|date:"%d-%m-%y" }}
              {% else %}
              -
              {% endif %}
            </span></h2>
          </div>
        </div>


    </div>
    {#    <div data-ix="fade-in-bottom-page-loads" class="facts-div">#}
  </div>
  </div>
  {#  </div>#}
{% endblock %}