{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block body %}
  <h1 class="centered padding-bottom">{{ food.name }}‍</h1>

  <div class="centered">
    <div class=row">
      <div class="col-md-3">
        {% if food.img %}
          <img src="{{ food.img|thumbnail_url:'thumb' }}">
        {% else %}
          <img width="100%" src="{% static 'images/mains.jpg' %}" class="img-circle box-shadow">
        {% endif %}
      </div>

      <div class="col-md-3 align-left golden-border">
        {#        <div class="recipe-div">#}
        <h2><span class="glyphicon glyphicon-book">&nbsp;Rezept</span></h2>
        <p >
          {% if food.recipe %}
          {{ food.recipe }}
          {% else %}
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
          {% endif %}
          {#        </div>#}
      </div>

          <div class="col-md-3 align-left golden-border">
        <h2 ><span class="glyphicon glyphicon glyphicon-shopping-cart">&nbsp;Zutaten</span> </h2>
        <ul class="ingredients-list">
          {% if food.get_ingredients %}
            {% for ing in food.get_ingredients %}
              <li class="list-item">{{ ing.amount }}&nbsp;{{ ing.name }}&nbsp;</li>
            {% endfor %}
            </ul>
          {% else %}
            <li class="list-item">1g Zucker</li>
            <li class="list-item">2g Mehl</li>

            <li class="list-item">15ml Wasser</li>

            <li class="list-item">1 Apfel</li>

            <li class="list-item">1 Birne</li>
            <li class="list-item">Nochetwas</li>
          {% endif %}


      </div>

      <div class="col-md-3 align-left golden-border">
        <div class="row">
          <div class="col-1 align-left">
            <h2><span class="glyphicon glyphicon-time">&nbsp;
            {% if food.duration %}
              {{ food.duration|date:"%h:%m" }}
              {% else %}
              1:45
              {% endif %}
            </span></h2>
          </div>
                  <div class="col-1 align-left golden-border">
            <h2><span class="glyphicon glyphicon-ok">&nbsp;
            {% if food.last_cooked%}
              {{ food.last_cooked|date:"%d-%m-%y" }}
              {% else %}
              01.01.16
              {% endif %}
            </span></h2>
          </div>
        </div>


    </div>
    {#    <div data-ix="fade-in-bottom-page-loads" class="facts-div">#}
  </div>
  </div>
  {#  </div>#}
{% endblock %}