{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block body %}
  {% if error %}
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> {{ error }}
</div>
  {% endif %}
  <div class="w-section hero-section">
    {#    <div class="w-container">#}
    <h1 data-ix="fade-in-bottom-page-loads" class="heading-1-white">Foodroller.</h1>

    <div class="centered margin-top">
      <div class="col-md-4"></div>

      <div class="col-md-4">

      </div>
      <div class="col-md-4">
                <h1>Login</h1>
        <form method="post" action="/" class="form-horizontal">
          {% csrf_token %}
          {% for field in log_form %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ field.errors }}</span>
              </div>
              <label class="control-label col-sm-2" for="song_title">{{ field.label_tag }}</label>
              <div class="col-sm-10">{{ field }}</div>
            </div>
          {% endfor %}
          <input type="submit" value="Login" class="btn btn-primary golden-btn">
        <br>
        </form>
        <div class="align-left">
        <h4>Register an account <a href="/accounts/register" class="white">here</a></h4>
</div>
      </div>
    </div>

    {#    </div>#}
  </div>
  <div class="w-section preview-section">
    <h2>Next 6 days.</h2>
    <div class="w-row food-row">
      {% for day in next_days %}
        <div class="w-col w-col-6">
          <div class="food-div">
            <a href="/food/{{ day.food.slug }}">
              {% if day.food.img %}
                <img src="{{ day.food.img|thumbnail_url:'thumb' }}" data-ix="fade-in-bottom-scroll-in" class="food-img">
              {% else %}
                <img width="400" src="{% static 'images/placeholder3.png' %}" data-ix="fade-in-bottom-scroll-in" class="food-img">
              {% endif %}
            </a>
            <h4 class="home-h5">{{ day.date|date:"l, d.m.Y" }}</h4>
            <h5 class="home-h5">{{ day.food.name }}</h5>
          </div>
        </div>

        {% if forloop.counter|divisibleby:2 %}
          </div>
          <div class="w-row food-row">
        {% endif %}
      {% endfor %}

      </div>
  </div>

{% endblock %}