{% extends 'base.html' %}

{% block body %}
  <body>

  {% include 'modals/date.html' %}

  <div id="email">
  {% include 'modals/email.html' %}
  </div>

  {% include 'modals/search.html' %}

  {% include template with start=start end=end days=days categories=categories %}

  <div class="alert alert-danger" role="alert" style="display:none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

  <strong>Oh snap!</strong> It seems that you have already created a plan for this date.
</div>
</body>

{% endblock %}

