{#  <h1 class="rool-heading">{{ start|date:"SHORT_DATE_FORMAT" }} - {{ end|date:"SHORT_DATE_FORMAT" }}</h1>#}
<div class="centered">
  <button type="button" class="roll-now" id="change-date-btn" onclick="openDateModal()">Change date</button>

  <h1>{{ start|date:"SHORT_DATE_FORMAT" }} - {{ end|date:"SHORT_DATE_FORMAT" }}.</h1>

  <div class="row">
    {% for day in days %}
      <div class="col-md-4 roll-col">
        {#        <div class="w-clearfix day-roll">#}
        {#          <div class="day-form">#}
        {% for key,value in day.items %}
          <h3>{{ value }} </h3>
          <div class="day-res" id="day-res-{{ key|date:"d-m-y" }}">
            {% include 'food-snippet.html' with food=food_list.forloop.counter %}
          </div>
          <select id="category-{{ key|date:"d-m-y" }}" name="field" required="required" class="form-control">
            {% for cat in categories %}
              <option value="{{ cat.name }}">{{ cat.name }}</option>
            {% endfor %}
          </select>
          <select id="cooking-time-{{ key|date:"d-m-y" }}" name="field-2" data-name="Field 2" class="form-control">
            <option value="">Cooking Time</option>
            {% for id, value in times %}
              <option value={{ id }}>{{ value }}</option>
            {% endfor %}
          </select>
          <button class="roll-now manual-btn" id="{{ key|date:"d-m-y" }}" onclick="roll($(this).attr('id'))"><span class="fa fa-cubes"></span></button>
          <button class="roll-now manual-btn" id="{{ key|date:"d-m-y" }}" onclick="openSearchModal($(this).attr('id'))"><span class="glyphicon glyphicon-edit"></span></button>
        {% endfor %}
      </div>
      {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}

    </div>
  <div class="row">
    <button type="button" class="w-button roll-now" id="accept-btn" onclick="openSummaryModal()">Submit</button>
  </div>


</div>
</div>
