<div class="centered">
  <button type="button" class="roll-now" id="change-date-btn" onclick="openDateModal()">Change date</button>

  <h1>{{ start|date:"SHORT_DATE_FORMAT" }} - {{ end|date:"SHORT_DATE_FORMAT" }}.</h1>

  <div class="row">
    {% for day in days%}
      <div class="col-md-4 roll-col">
        <h3>{{ day.date|date:'l' }} </h3>
        <div class="day-res" id="day-res-{{ day|date:"d-m-y" }}">
            {% include 'food-snippet.html' with food=day.food %}
          </div>
          <select id="category-{{ day.date|date:"d-m-y" }}" name="field" required="required" class="form-control">
            {% for cat in categories %}
              <option value="{{ cat.name }}">{{ cat.name }}</option>
            {% endfor %}
          </select>
          <select id="cooking-time-{{ day.date|date:"d-m-y" }}" name="field-2" data-name="Field 2" class="form-control">
            <option value="">Cooking Time</option>
            <option value=1>&lt; 30 min</option>
            <option value=2>&lt; 1 hr</option>
            <option value=3>&lt; 2 hr</option>
            <option value=4>&gt; 2 hr</option>
          </select>
          <button class="roll-now manual-btn" id="{{ day.date|date:"d-m-y" }}" onclick="roll($(this).attr('id'))"><span class="fa fa-cubes"></span></button>
          <button class="roll-now manual-btn" id="{{ day.date|date:"d-m-y" }}" onclick="openSearchModal($(this).attr('id'))"><span class="glyphicon glyphicon-edit"></span></button>
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}

    </div>
<div class="row">    <button type="button" class="w-button roll-now" id="accept-btn" onclick="openSummaryModal()">Submit</button>
</div>


</div>
