{% load static %}

<div class="modal fade" id="search-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h3">Gericht suchen</h1>
      </div>
      <div class="modal-body">
        <input type="text" name="textSearch" id="txtSearch"/>
      </div>
      <div class="modal-footer">
        <input type="submit" id="submit-food" value="OK" data-wait="Please wait..." data-dismiss="modal"
               class="btn btn-default" onclick="setFood()">
      </div>
    </div>
  </div>
  <!-- modal-content -->
</div>

<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>