body {
  height: 100%;
  padding-left: 0px;
  border-color: #fff;
  border-radius: 30px;
  background-color: transparent;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, .75);
  font-size: 16px;
  line-height: 20px;
}

.ui-autocomplete {
position: absolute;
z-index: 2150000000 !important;
cursor: default;
border: 2px solid #ccc;
padding: 5px 0;
border-radius: 2px;
}


h1 {
  margin-top: 411px;
  margin-bottom: 63px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #000;
  font-size: 60px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

h2 {
  margin-top: 84px;
  margin-bottom: 84px;
  margin-left: 154px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #000;
  font-size: 70px;
  line-height: 36px;
  font-weight: 700;
  cursor: pointer;
}

h3 {
  margin-top: 11px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-right: 0px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

h4 {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
}

h5 {
  width: 200px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: rgba(0, 0, 0, .75);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 37px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 15px;
  text-align: left;
}


.button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #cf404d;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  position: relative;
  left: 1px;
  top: 0px;
  right: 0px;
  display: block;
  width: 40%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 207px;
  padding-left: 0px;
  float: left;
  clear: none;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #cf404d;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.section {
  position: relative;
  padding: 63px 40px;
  background-color: #fff;
}

.section.section-gray {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fafafa;
}

.call-to-action-section {
  padding: 44px 40px;
  background-color: #cf404d;
  color: #fff;
}

.call-to-action-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.hero-heading {
  margin-top: -261px;
  margin-bottom: 19px;
  border-color: #fff;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 25px;
  color: #fff;
}

.hollow-button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 11px 20px;
  border: 2px solid #1db0fc;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #1db0fc;
  line-height: 21px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #000;
  color: #000;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: #2d3e4f;
  background-color: #2d3e4f;
  color: #fff;
}

.hollow-button.red {
  margin-top: 58px;
  margin-left: 0px;
  padding: 20px 50px;
  border-color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .33);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  font-size: 24px;
}

.hollow-button.red:hover {
  background-color: transparent;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #313131;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.section-subheading.center {
  font-family: 'Droid Sans', sans-serif;
  color: hsla(0, 0%, 45%, .74);
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
}

.form-field {
  min-height: 45px;
  margin-top: 235px;
  margin-right: 1px;
  margin-bottom: 18px;
  padding-bottom: 0px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  overflow: auto;
  min-height: 110px;
  margin-top: 20px;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
  background-color: hsla(0, 0%, 49%, 0);
}

.social-icon-link {
  padding: 3px;
  opacity: 0.66;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon-link:hover {
  opacity: 1;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

.footer-text {
  margin-top: 24px;
  margin-bottom: 5px;
  font-family: 'Varela Round', sans-serif;
  color: #7e7e7e;
  font-size: 12px;
  text-align: left;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #cf404d;
  text-decoration: none;
}

.link:hover {
  color: #30ad64;
}

.grid-image {
  margin-bottom: 19px;
}

.hero-title-wrapper {
  position: relative;
  top: 40%;
  margin-bottom: 155px;
  text-align: center;
}

.left-navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 329px;
  height: 100%;
  background-color: #000;
}

.nav-link-old {
  position: static;
  display: block;
  padding: 0px;
  float: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.nav-link-old:hover {
  color: #cf404d;
}

.nav-link-old.w--current {
  color: #cf404d;
}

.nav-menu {
  position: static;
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  float: none;
  clear: none;
  background-color: rgba(0, 0, 0, .33);
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.social-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.banner {
  position: static;
  display: block;
  height: 100%;
  margin-left: 0px;
  padding-bottom: 462px;
  float: none;
  clear: none;
  background-image: url('../images/original_001.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/2e9b0cb2.jpg');
  background-image: url('../images/original_001.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/2e9b0cb2.jpg');
  background-position: 0% 0%, 0% 0%, 50% 50%;
  background-size: auto, auto, cover;
  background-repeat: repeat, repeat, no-repeat;
}

.col-spc {
  text-align: center;
}

.content {
  height: 100%;
  margin-top: 0px;
  padding-top: 1px;
  background-image: url('../images/original_001.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.success-message {
  text-align: center;
}

.p-form {
  margin-bottom: 0px;
}

.image {
  position: relative;
  padding-bottom: 0px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(64, 64, 71, .3);
}

.slides {
  width: 32%;
}

.slide-icon {
  height: 60%;
}

.slider-title {
  font-size: 25px;
}

.time {
  width: 50%;
  padding-right: 0px;
}

.navbar_old {
  position: fixed;
  display: block;
  background-color: #000;
}

.logo {
  display: block;
  padding-right: 0px;
  padding-left: 20px;
  clear: none;
  text-align: left;
}

.nav-item {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: disc;
}

.nav-item:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.preview {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  height: 600px;
  margin-top: 1px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: visible;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 100%, .54);
}

.hero-section {
  height: 900px;
  padding-top: 180px;
  background-image: url('../images/original_001.jpg');
  background-position: 40% 51%;
  background-size: cover;
  background-repeat: repeat;
  text-align: center;
}

.nav-container {
  display: block;
  margin-right: 0px;
  padding-right: 0px;
  float: right;
}

.nav-link {
  display: inline-block;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgba(167, 8, 8, .94);
}

.roll-now {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-bottom: 24px;
  padding: 20px 86px;
  float: none;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .54);
  -webkit-transition: opacity 200ms ease, all 500ms ease;
  transition: opacity 200ms ease, all 500ms ease;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.roll-now:hover {
  background-color: rgba(0, 0, 0, .64);
  color: hsla(0, 0%, 100%, .75);
}

.main-section {
  padding-top: 0px;
  padding-bottom: 70px;
  background-color: #fff;
  text-align: center;
}

.food-item {
  width: 150px;
  padding: 0px;
  text-align: center;
}

.food-thumb {
  position: static;
  display: inline-block;
  width: 100px;
  margin-bottom: 0px;
  float: none;
  clear: none;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  text-align: center;
}

.food-thumb:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.food-short {
  width: 320px;
  height: 100px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: right;
  clear: none;
  text-align: left;
}

.food-item-heading {
  position: relative;
  top: 0px;
  margin-top: 110px;
  margin-bottom: 0px;
  text-align: left;
}

.food-decription {
  margin-top: 0px;
  padding-top: 0px;
  float: none;
}

.food-decription-text {
  margin-bottom: 10px;
  padding-top: 0px;
  text-align: left;
}

.navmenu {
  display: block;
  margin-top: 0px;
  background-color: #fff;
  color: #000;
}

.food-section {
  margin-top: 172px;
}

.category {
  margin: 0px 46px 50px;
}

.food-row {
  margin: 0px 0px 50px;
  border-top: 1px none #fff;
  text-align: center;
}

.category-title {
  margin-bottom: 40px;
}

.food-div {
  text-align: center;
}

.food-thumb-2 {
  margin-bottom: 6px;
}

.food-tab {
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.food-tab.w--current {
  border: 3px solid #000;
  background-color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.menu-icon {
  color: #918a8a;
  font-size: 30px;
}

.menu-button {
  padding-top: 0px;
}

.menu-button.w--open {
  background-color: hsla(0, 0%, 100%, 0);
}

.food-div {
  display: inline-block;
  text-align: center;
}

.food-img {
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in, opacity 200ms ease;
  transition: all 500ms ease-in, opacity 200ms ease;
}

.food-img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.footer-section {
  height: 400px;
  margin-bottom: 0px;
  padding-top: 83px;
  background-color: #000;
  text-align: center;
}

.footer-text---right {
  margin-top: 24px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #7e7e7e;
  font-size: 12px;
  text-align: right;
}

.img-detail-section {
  height: 800px;
  margin-top: 106px;
  padding-top: 0px;
  text-align: center;
  list-style-type: disc;
}

.img-detail {
  margin-top: 50px;
  margin-bottom: 0px;
  border-radius: 15px;
  text-align: center;
}

.btn-link {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 104px;
  padding-top: 0px;
  border-style: none;
  background-color: #fff;
  background-image: url('../images/547a77ef3e9ac2216ec5c6e0_arrow-down.png');
  background-position: 50% 301%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: transparent;
  text-align: center;
}

.details-sections {
  margin-top: 39px;
  margin-bottom: 50px;
  text-align: center;
}

.details-row {
  margin-right: 220px;
  margin-bottom: auto;
  margin-left: 220px;
}

.recipe-div {
  text-align: left;
}

.ingredients-div {
  text-align: right;
}

.ingredients-list {
  padding-left: 155px;
  text-align: center;
  list-style-type: none;
}

.list-item {
  margin-bottom: 10px;
  text-align: right;
}

.facts-row {
  position: static;
  margin-top: 20px;
  margin-right: 3px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.list-item-2 {
  margin-top: 10px;
  text-align: left;
}

.facts-div {
  margin-top: 50px;
  padding-right: 220px;
  padding-left: 220px;
}

.heading-4-right {
  text-align: right;
}

.nav-item-container {
  margin-right: 20px;
}

.menu-button {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.nav-m {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #fff;
}

.navitem {
  color: #fff;
}

.navigation-cont {
  margin-right: 102px;
  margin-left: 102px;
  padding-right: 0px;
  padding-left: 0px;
}

.brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.heading-center {
  display: block;
  float: none;
  clear: none;
  text-align: center;
}

.category-section {
  height: 800px;
  margin-top: 125px;
  padding-top: 0px;
}

.heading-1-white {
  color: #fff;
}

.categories {
  padding-right: 174px;
  padding-left: 174px;
}

.tabs-section {
  margin-top: 150px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
}

.tabs-section .w-tabs {
  background-color: rgba(255, 255, 255, 0.25);
}

.w-tabs {
  text-align: center;
  padding-top: 80px;
}

.category-tab {
  display: inline-block;
  border-bottom: 1px solid #000;
  background-color: transparent;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 20px;
}

.category-tab:hover {
  border-bottom-width: 3px;
  border-bottom-color: #000;
}

.category-tab.w--current {
  display: inline-block;
  border-style: none none solid;
  border-width: 1px 1px 3px;
  border-color: #000;
  border-radius: 0px;
  background-color: transparent;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
}

.category-tab.w--current:hover {
  border-top: 3px none #000;
  border-bottom: 1px solid #000;
  color: rgba(0, 0, 0, .75);
}

.category-tab.w--current:active {
  border-bottom: 1px solid #000;
}

.category-tab.w--current:focus {
  border-bottom: 1px solid #000;
}

.category-menu {
  margin-bottom: 100px;
  text-align: center;
}

.tab-text {
  font-size: 28px;
  font-weight: 700;
}

.food-img-2 {
  border-radius: 20px;
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.food-img-2:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.config-section {
  position: static;
  overflow: hidden;
  /*margin-top: -199px;*/
  /*margin-bottom: 80px;*/
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 70.3333%;
  border-bottom: 1px none #000;
  text-align: center;
}

.config-div {
  width: 100px;
  margin-right: 0px;
  margin-left: 150px;
}

.days-div {
  border: 1px solid #000;
}

.config-form {
  position: static;
  margin-top: 100px;
  margin-right: 50px;
  margin-left: 50px;
  border: 1px none #000;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-align: center;
}

.day-form {
  /*margin-right: 0px;*/
  /*float: none;*/
  /*border: 1px none #000;*/
  /*font-size: 16px;*/
}

.date-form {
  width: 300px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #000;
  font-size: 22px;
  font-style: normal;
}

.form-btn {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 300px;
  height: 50px;
  margin-top: 63px;
  margin-left: 54px;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .74);
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.form-btn:hover {
  background-color: rgba(0, 0, 0, .14);
}

.accept-img {
  position: static;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-right: 0px;
  margin-left: 150px;
  padding-left: 0px;
  float: left;
  clear: none;
  text-align: left;
}

.day-roll {
  width: 200px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.day-row {
  position: static;
  display: block;
  overflow: visible;
  max-width: 1000px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.go-btn {
  display: block;
  width: 75px;
  margin-right: auto;
  margin-bottom: 19px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .72);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: none;
}

.go-btn:hover {
  background-color: rgba(77, 49, 37, .8);
}

.days {
  display: inline-block;
  width: 300px;
}

.settings-row {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 100px;
  border-bottom: 1px none #000;
  text-align: center;
}

.day-res {
  margin-top: 80px;
  text-align: center;
}

.res-img {
  border-radius: 15px;
}


.roll-col {
  position: static;
  display: block;
  overflow: visible;
  padding-right: 10px;
  border: 1px none #000;
}

.man-btn {
  display: inline-block;
  width: 75px;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  border-radius: 10px;
  background-color: rgba(77, 49, 37, .8);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.man-btn:hover {
  background-color: rgba(0, 0, 0, .72);
}

.accept-btn {
  display: block;
  width: 175px;
  height: 40px;
  margin: 10px auto 30px;
  padding-right: 15px;
  padding-left: 15px;
  float: none;
  clear: none;
  border-radius: 20px;
  background-color: rgba(77, 49, 37, .8);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.accept-btn:hover {
  background-color: rgba(0, 0, 0, .7);
}

.accept-btn.kalender-btn {
  display: block;
  margin: 0px auto;
  padding-right: 0px;
  padding-left: 0px;
}

.food-h4-r {
  float: right;
  text-align: right;
}

.home-h4 {
  width: 600px;
  text-align: center;
}

.home-h5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.roll-body {
  background-image: url('../images/12632976_1265460030137698_1553243344_o.jpg');
  background-position: 0px 0px;
  background-size: cover;
  text-align: center;
}

.field-label {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.day-row-2 {
  width: 666px;
  margin-left: 325px;
}

.h3-roll {
  margin-bottom: 30px;
  color: #000;
  font-size: 28px;
  font-weight: 700;
}

.title-roll {
  text-align: center;
}

.dur-roll {
  color: #000;
}

.tabs-content {
  margin-top: 0px;
  padding-top: 63px;
}

.choose-days {
  position: fixed;
  z-index: 9000;
  width: 600px;
  height: 600px;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  height: 100%;
  margin-top: 62px;
  background-color: rgba(0, 0, 0, .5);
}

.select-days-wrapper {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
  width: 450px;
  margin: -230px auto 100px;
  padding: 0px;
  background-color: #fff;
  text-align: left;
}

.days-heading {
  margin-top: 300px;
  margin-bottom: 20px;
  padding-top: 0px;
  font-size: 40px;
}

.days-title {
  display: none;
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.days-sel {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
}

.date-field {
  display: block;
  width: 150px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.days-form {
  text-align: center;
  padding-bottom: 10px;
}

.days-submit {
  margin-bottom: 10px;
}

.rool-heading {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-top: 300px;
  padding-bottom: 0px;
}

.calendar {
  position: static;
  float: none;
  clear: none;
}

.modal-wrapper2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  overflow: auto;
  height: 100%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  background-color: rgba(0, 0, 0, .71);
  color: #000;
}

.zusammenfassung-essen {
  margin-top: 10px;
  margin-bottom: 0px;
}

.change-date {
  border-radius: 20px;
  background-color: rgba(77, 49, 37, .8);
}

.change-date:hover {
  background-color: rgba(0, 0, 0, .72);
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }
  h5 {
    margin-bottom: 11px;
    text-align: center;
  }
  .hamburger-button {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #cf404d;
  }
  .form-wrapper.squeezed {
    padding-right: 8%;
    padding-left: 8%;
  }
  .hero-title-wrapper {
    top: 40%;
  }
  .left-navigation {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-link-old {
    padding-left: 13px;
    text-align: left;
  }
  .nav-menu {
    background-color: #49647b;
  }
  .logo-link {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .social-footer {
    position: absolute;
    display: inline-block;
  }
  .banner {
    height: 500px;
  }
  .nav-link {
    color: hsla(0, 0%, 100%, .75);
  }
  .main-section {
    margin-right: 28px;
  }
  .navmenu {
    background-color: #000;
  }
  .food-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .food-tabs-section {
    margin-top: 52px;
  }
  .footer-text---right {
    text-align: right;
  }
  .day-row {
    position: static;
    display: block;
    overflow: visible;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    float: none;
    clear: none;
    text-align: justify;
  }
  .go-btn {
    display: block;
  }
  .settings-row {
    display: inline;
  }
  .roll-col {
    position: relative;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  .man-btn {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .call-to-action-heading {
    margin-bottom: 13px;
    text-align: center;
  }
  .align-right {
    text-align: center;
  }
  .hero-heading {
    font-size: 37px;
  }
  .hero-title-wrapper {
    top: 35%;
  }
  .grid-fours {
    width: 33.333%;
  }
  .col-spc {
    margin-bottom: 15px;
    text-align: center;
  }
  .col-0 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .food-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer-section {
    height: 300px;
    margin-bottom: 0px;
    padding-top: 85px;
    padding-bottom: 0px;
  }
}

@media (max-width: 479px) {
  h2 {
    margin-left: 0px;
  }

  .form-wrapper.squeezed {
    padding-right: 2%;
    padding-left: 2%;
  }

  .hero-title-wrapper {
    top: 28%;
  }

  .banner {
    height: 450px;
  }

  .tabs-section {
    text-align: center;
    padding: 0;
  }

  .hero-section {
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
  }

  .food-row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .tabs-section {
    display: inline-block;
  }

  .category-tab {

  }

  .category-tab.w--current {

  }

  .category-menu {
    position: relative;
    display: block;
    text-align: center;
  }

  .config-form {
    margin-left: 0px;
    text-align: left;
  }

  .accept-btn {
    width: 200px;
  }

  .col-centered .col-md-4 {
    text-align: center;
    max-width: 100px;
  }



/*.ui-autocomplete-input {*/
  /*font-size: 14px;*/
  /*width: 300px;*/
  /*height: 24px;*/
  /*margin-bottom: 5px;*/
  /*border: 1px solid #DDD !important;*/
  /*padding-top: 0 !important;*/
  /*z-index: 1511;*/
  /*position: relative;*/
  /*display: block;*/
/*}*/
/*.ui-menu .ui-menu-item a {*/
  /*font-size: 12px;*/
/*}*/
/*ul.ui-autocomplete.ui-menu {*/
  /*z-index: 9999;*/
/*}*/
/*.ui-front {*/
  /*z-index: 9999;*/
/*}*/
/*.ui-autocomplete {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*z-index: 1510 !important;*/
  /*float: left;*/
  /*display: none;*/
  /*min-width: 160px;*/
  /*width: 160px;*/
  /*padding: 4px 0;*/
  /*margin: 2px 0 0 0;*/
  /*list-style: none;*/
  /*background-color: #ffffff;*/
  /*border-color: #ccc;*/
  /*border-color: rgba(0, 0, 0, 0.2);*/
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*-webkit-border-radius: 2px;*/
  /*-moz-border-radius: 2px;*/
  /*border-radius: 2px;*/
  /*-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  /*-webkit-background-clip: padding-box;*/
  /*-moz-background-clip: padding;*/
  /*background-clip: padding-box;*/
  /**border-right-width: 2px;*/
  /**border-bottom-width: 2px;*/
    /*overflow: auto;*/

/*}*/
/*.ui-menu-item > a.ui-corner-all {*/
    /*display: block;*/
    /*padding: 3px 15px;*/
    /*clear: both;*/
    /*font-weight: normal;*/
    /*line-height: 18px;*/
    /*color: #555555;*/
    /*white-space: nowrap;*/
    /*text-decoration: none;*/
/*}*/
/*.ui-state-hover, .ui-state-active {*/
      /*color: #ffffff;*/
      /*text-decoration: none;*/
      /*background-color: #222222;*/
      /*border-radius: 0px;*/
      /*-webkit-border-radius: 0px;*/
      /*-moz-border-radius: 0px;*/
      /*background-image: none;*/
/*}*/
/*#search-modal{*/
    /*z-index: 1000;*/

/*}*/
  }

