<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% extends 'foodroller/base.html' %}
    <title>Add Food</title>
    <style>
        form {
            ;
        }
    </style>
</head>
<body>
{% block header %}
<h1>Add food here</h1>
{% endblock %}

{% block body %}
    <div class="form">
    <form id="dish_form" method="post" action="/add">

            {% csrf_token %}

        {{ form.as_table }}


            <input type="submit" name="submit" value="Create Dish" />
    </form>
    </div>
{% endblock %}
</body>
</html>