<head>
  {% extends "foodroller/base.html" %}
    {% load staticfiles %}


</head>
<body>
{% block body %}
  <div class="content">
    <div class="banner" id="home">
      <div class="hero-title-wrapper">
        <h1 class="hero-heading">Welcome to the Food-Roller</h1>
        <div class="hero-subheading">This is some text inside of a div block.</div>
        <div><a class="hollow-button red" href="#">ROLL NOW</a>
        </div>
      </div>
    </div>
    <div class="w-section section" id="food">
      <div class="w-container">
        <div class="section-title-group">
          <h2 class="section-heading centered">FOOD</h2>
          <div class="section-subheading center">This is some text inside of a div block.</div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-4 col-spc">
            <a class="w-inline-block" href="add.html"><img class="grid-image" src="{% static 'main/images/feather-12-black.svg' %}" width="100">
            </a>
            <h3>ADD FOOD</h3>
          </div>
          <div class="w-col w-col-4 col-spc">
            <a class="w-inline-block" href="#list"> <img class="grid-image" src="{% static 'main/images/feather-05-black.svg' %}" width="100">
            </a>
            <h3>LIST</h3>
          </div>
          <div class="w-col w-col-4 col-spc">
            <a class="w-inline-block" href="#list"><img class="grid-image" src="{% static 'main/images/feather-24-black.svg' %}" width="100">
            </a>
            <h3>SETTINGS</h3>
          </div>
        </div>
      </div>
    </div>
<div class="w-section section section-gray", id="list">
      <div class="w-container">
        <div class="section-title-group">
          <h2 class="section-heading centered">FOOD LIST</h2>
        </div>
        <div class="w-slider" data-animation="slide" data-duration="500" data-infinite="1">
          <div class="w-slider-mask">
              {% for dish in list %}
              <div class="w-slide slides"><a href="/edit/{{ dish.slug }}"> <img class="slide-icon"  src='media/{{ dish.image }}'></a>
                  <h1 class="slider-title">{{ dish.title }}</h1>
              Kochzeit: {{ dish.cooking_time|time:'H:i' }}
              {% if dish.vegetarian %}
              <p>Vegetarisch</p>
              {% endif %}

            </div>
              {% endfor %}
          </div>
          <div class="w-slider-arrow-left">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round"></div>
        </div>
      </div>
    </div>

    {% endblock %}
    <!--






    -->

  </div>

</body>
</html>