{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block body %}
  <div class="w-section tabs-section">
    <div data-duration-in="500" data-duration-out="100" data-easing="ease-in" class="w-tabs">
      <div class="w-tab-menu category-menu">
        {% for category, food in categories.items %}
          <a data-w-tab="{{ category.name }}" data-ix="underline-when-clicked" class="w-tab-link w--current w-inline-block category-tab">
            <div class="tab-text">{{ category.name }}</div>
          </a>
        {% endfor %}
      </div>
      <div class="w-tab-content">
        {% for category, food in categories.items %}
          <div data-w-tab="{{ category.name }}" class="w-tab-pane w--tab-active">
            <div class="food-div-shownhide">
              <div class="w-row food-row">
                {% for f in food %}
                  <div class="w-col w-col-4">
                  <a href="/food/{{ f.slug  }}">
                    {% if f.img %}
                    <div class="food-div"><img src="{{ f.img|thumbnail_url:'thumb' }}" class="food-img-2">
                      <h4 class="heading-center">{{ f.name }}</h4>
                    </div>
                    {% else %}
                    <div class="food-div"><img width="400" src="{% static 'images/mains.jpg' %}" class="food-img-2">
                      <h4 class="heading-center">{{ f.name }}</h4>
                    </div>
                  {% endif %}
                  </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>

{% endblock %}