{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
  <div class="w-section hero-section">
    <div class="w-container">
      <h1 data-ix="fade-in-bottom-page-loads" class="heading-1-white">Welcome to Foodroller</h1><a href="#" data-ix="fade-in-bottom-page-loads" class="w-button roll-now">Roll&nbsp;Now</a>
    </div>
  </div>
  <div class="w-section main-section">
    <h2>Next 6 days.</h2>
    <div class="w-row food-row">
      <div class="w-col w-col-6">
        <div class="food-div"><img width="400" src="{% static 'images/mains.jpg' %}" data-ix="fade-in-bottom-scroll-in" class="food-img">
          <h4 class="home-h4">Freitag,&nbsp;13.11.</h4>
          <h5 class="home-h5">Food&nbsp;Porn,&nbsp;Dauer:&nbsp;&nbsp;2&nbsp;Stunden&nbsp;45&nbsp;Minuten</h5>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="food-div"><img width="400" src="images/mains.jpg" data-ix="fade-in-bottom-scroll-in" class="food-img">
          <h4 class="home-h4">Freitag,&nbsp;13.11.</h4>
          <h5 class="home-h5">Food&nbsp;Porn,&nbsp;Dauer:&nbsp;&nbsp;2&nbsp;Stunden&nbsp;45&nbsp;Minuten</h5>
        </div>
      </div>
    </div>
    <div class="w-row food-row">
      <div class="w-col w-col-6">
        <div class="food-div"><img width="400" src="images/mains.jpg" data-ix="fade-in-bottom-scroll-in" class="food-img">
          <h4 class="home-h4">Freitag,&nbsp;13.11.</h4>
          <h5 class="home-h5">Food&nbsp;Porn,&nbsp;Dauer:&nbsp;&nbsp;2&nbsp;Stunden&nbsp;45&nbsp;Minuten</h5>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="food-div"><img width="400" src="images/mains.jpg" data-ix="fade-in-bottom-scroll-in" class="food-img">
          <h4 class="home-h4">Freitag,&nbsp;13.11.</h4>
          <h5 class="home-h5">Food&nbsp;Porn,&nbsp;Dauer:&nbsp;&nbsp;2&nbsp;Stunden&nbsp;45&nbsp;Minuten</h5>
        </div>
      </div>
    </div>
    <div class="w-row food-row">
      <div class="w-col w-col-6">
        <div class="food-div"><img width="400" src="images/mains.jpg" data-ix="fade-in-bottom-scroll-in" class="food-img">
          <h4 class="home-h4">Freitag,&nbsp;13.11.</h4>
          <h5 class="home-h5">Food&nbsp;Porn,&nbsp;Dauer:&nbsp;&nbsp;2&nbsp;Stunden&nbsp;45&nbsp;Minuten</h5>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="food-div"><img width="400" src="images/mains.jpg" data-ix="fade-in-bottom-scroll-in" class="food-img">
          <h4 class="home-h4">Freitag,&nbsp;13.11.</h4>
          <h5 class="home-h5">Food&nbsp;Porn,&nbsp;Dauer:&nbsp;&nbsp;2&nbsp;Stunden&nbsp;45&nbsp;Minuten</h5>
        </div>
      </div>
    </div><a href="#" class="w-button roll-now">Roll&nbsp;Now</a>
  </div>

{% endblock %}