{% extends 'base.html' %}

{% block body %}
  <div class="w-section config-section">
    <div class="w-form config-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row settings-row">
          <div class="w-col w-col-6">
            <div class="w-embed date-form">
              <label for="date">Start from:</label>
              <input class="w-input" type="date" max="2016-12-31" min="2015-09-22" name="date">
            </div>
          </div>
          <div class="w-col w-col-6">
            <label for="field-25">Select the number of days</label>
            <select id="field-25" name="field-25" required="required" class="w-select days">
              <option value="">6 days</option>
              <option value="First">3 days</option>
              <option value="Second">4 days</option>
              <option value="Third">5 days</option>
            </select>
          </div>
        </div>
        <div class="w-row day-row">
          <div class="w-col w-col-2 w-col-medium-4 roll-col">
            <div class="w-clearfix day-roll">
              <div class="day-form">
                <h3>Monday</h3>
                <select id="field" name="field" required="required" class="w-select">
                  <option value="">Category</option>
                  <option value="First">Soup</option>
                  <option value="Second">Salad</option>
                  <option value="Third">Vegetarian</option>
                  <option value="">Meat</option>
                  <option value="">None</option>
                </select>
                <select id="field-2" name="field-2" data-name="Field 2" class="w-select">
                  <option value="">Cooking Time</option>
                  <option value="First">&lt; 30 min</option>
                  <option value="Second">&lt; 1 hr</option>
                  <option value="Third">&lt; 2 hr</option>
                </select>
              </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
            </div>
            <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
            </div>
            <h4>Braten</h4>
            <h5>1 Stunde 30 Minuten</h5>
          </div>
          <div class="w-col w-col-2 w-col-medium-4 roll-col">
            <div class="w-clearfix day-roll">
              <div class="day-form">
                <h3>Tuesday</h3>
                <select id="field-26" name="field-26" required="required" data-name="Field 26" class="w-select">
                  <option value="">Category</option>
                  <option value="First">Soup</option>
                  <option value="Second">Salad</option>
                  <option value="Third">Vegetarian</option>
                  <option value="">Meat</option>
                  <option value="">None</option>
                </select>
                <select id="field-27" name="field-27" data-name="Field 27" class="w-select">
                  <option value="">Cooking Time</option>
                  <option value="First">&lt; 30 min</option>
                  <option value="Second">&lt; 1 hr</option>
                  <option value="Third">&lt; 2 hr</option>
                </select>
              </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
            </div>
            <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
            </div>
            <h4>Braten</h4>
            <h5>1 Stunde 30 Minuten</h5>
          </div>
          <div class="w-col w-col-2 w-col-medium-4 roll-col">
            <div class="w-clearfix day-roll">
              <div class="day-form">
                <h3>Wednesday</h3>
                <select id="field-28" name="field-28" required="required" data-name="Field 28" class="w-select">
                  <option value="">Category</option>
                  <option value="First">Soup</option>
                  <option value="Second">Salad</option>
                  <option value="Third">Vegetarian</option>
                  <option value="">Meat</option>
                  <option value="">None</option>
                </select>
                <select id="field-29" name="field-29" data-name="Field 29" class="w-select">
                  <option value="">Cooking Time</option>
                  <option value="First">&lt; 30 min</option>
                  <option value="Second">&lt; 1 hr</option>
                  <option value="Third">&lt; 2 hr</option>
                </select>
              </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
            </div>
            <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
            </div>
            <h4>Braten</h4>
            <h5>1 Stunde 30 Minuten</h5>
          </div>
          <div class="w-col w-col-2 w-col-medium-4 roll-col">
            <div class="w-clearfix day-roll">
              <div class="day-form">
                <h3>Thursday</h3>
                <select id="field-30" name="field-30" required="required" data-name="Field 30" class="w-select">
                  <option value="">Category</option>
                  <option value="First">Soup</option>
                  <option value="Second">Salad</option>
                  <option value="Third">Vegetarian</option>
                  <option value="">Meat</option>
                  <option value="">None</option>
                </select>
                <select id="field-31" name="field-31" data-name="Field 31" class="w-select">
                  <option value="">Cooking Time</option>
                  <option value="First">&lt; 30 min</option>
                  <option value="Second">&lt; 1 hr</option>
                  <option value="Third">&lt; 2 hr</option>
                </select>
              </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
            </div>
            <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
            </div>
            <h4>Braten</h4>
            <h5>1 Stunde 30 Minuten</h5>
          </div>
          <div class="w-col w-col-2 w-col-medium-4 roll-col">
            <div class="w-clearfix day-roll">
              <div class="day-form">
                <h3>Friday</h3>
                <select id="field-32" name="field-32" required="required" data-name="Field 32" class="w-select">
                  <option value="">Category</option>
                  <option value="First">Soup</option>
                  <option value="Second">Salad</option>
                  <option value="Third">Vegetarian</option>
                  <option value="">Meat</option>
                  <option value="">None</option>
                </select>
                <select id="field-33" name="field-33" data-name="Field 33" class="w-select">
                  <option value="">Cooking Time</option>
                  <option value="First">&lt; 30 min</option>
                  <option value="Second">&lt; 1 hr</option>
                  <option value="Third">&lt; 2 hr</option>
                </select>
              </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
            </div>
            <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
            </div>
            <h4>Braten</h4>
            <h5>1 Stunde 30 Minuten</h5>
          </div>
          <div class="w-col w-col-2 w-col-medium-4 roll-col">
            <div class="w-clearfix day-roll">
              <div class="day-form">
                <h3>Saturday</h3>
                <select id="field-34" name="field-34" required="required" data-name="Field 34" class="w-select">
                  <option value="">Category</option>
                  <option value="First">Soup</option>
                  <option value="Second">Salad</option>
                  <option value="Third">Vegetarian</option>
                  <option value="">Meat</option>
                  <option value="">None</option>
                </select>
                <select id="field-35" name="field-35" data-name="Field 35" class="w-select">
                  <option value="">Cooking Time</option>
                  <option value="First">&lt; 30 min</option>
                  <option value="Second">&lt; 1 hr</option>
                  <option value="Third">&lt; 2 hr</option>
                </select>
              </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
            </div>
            <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
            </div>
            <h4>Braten</h4>
            <h5>1 Stunde 30 Minuten</h5>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <p>Thank you! Your submission has been received!</p>
      </div>
      <div class="w-form-fail">
        <p>Oops! Something went wrong while submitting the form</p>
      </div>
    </div><a href="#" class="w-button accept-btn">Accept</a>
  </div>

{% endblock %}