<div class="config-section">
    {#  <h1 class="rool-heading">{{ start|date:"SHORT_DATE_FORMAT" }} - {{ end|date:"SHORT_DATE_FORMAT" }}</h1>#}
    <div class="page-header">
        <h1>{{ start|date:"SHORT_DATE_FORMAT" }} - {{ end|date:"SHORT_DATE_FORMAT" }}</h1>
        <button type="button" class="w-button change-date" id="change-date-btn">Datum ändern</button>

    </div>
    <div class="row">
        {% for day in days %}
            <div class="col-md-3 col-centered">
                {#        <div class="w-clearfix day-roll">#}
                {#          <div class="day-form">#}
                <h3>{{ day }}</h3>
                <select id="field" name="field" required="required" class="w-select">
                    {% for cat in categories %}
                        <option value="{{ cat.name }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <select id="field-2" name="field-2" data-name="Field 2" class="w-select">
                    <option value="">Cooking Time</option>
                    <option value=1>&lt; 30 min</option>
                    <option value=2>&lt; 1 hr</option>
                    <option value=3>&lt; 2 hr</option>
                    <option value=4>&gt; 2 hr</option>
                </select>
                <button class="w-button go-btn">ROLL</button>
                                <button class="w-button man-btn" id="man-btn">Select</button>
{#        </div>#}

                {#        </div>#}
                <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
                    <h3>Braten</h3>
                    <h5>1 Stunde 30 Minuten</h5>
                </div>

            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        </div>

    <button type="button" class="w-button accept-btn" id="accept-btn">Akzeptieren</button>

</div>

<script>

    $(document).ready(function(){
        $("#change-date-btn").click(function(){
            $("#change-date-modal").modal('show');
        });
        $("#accept-btn").click(function(){
            $("#accept-modal").modal('show');
        });
        $("#man-btn").click(function(){
            $("#search-modal").modal();
        })

    });

    $(function() {
      $("#txtSearch").autocomplete({
        source: "/search"
    });
  });
  $( "#txtSearch" ).autocomplete( "option", "appendTo", ".eventInsForm" );
</script>