<div class="w-section config-section">
  <h1 class="rool-heading">{{ start|date:"SHORT_DATE_FORMAT" }} - {{ end|date:"SHORT_DATE_FORMAT" }}</h1>

  <div class="w-row day-row">
    {% for day in days %}
      <div class="w-col w-col-3 roll-col">
        <div class="w-clearfix day-roll">
          <div class="day-form">
            <h3 class="h3-roll">Monday</h3>
            <select id="field" name="field" required="required" class="w-select">
              {% for cat in categories %}
                <option value="{{ cat.name }}">{{ cat.name }}</option>
              {% endfor %}
            </select>
            <select id="field-2" name="field-2" data-name="Field 2" class="w-select">
              <option value="">Cooking Time</option>
              <option value=1>&lt; 30 min</option>
              <option value=2>&lt; 1 hr</option>
              <option value=3>&lt; 2 hr</option>
              <option value=4>&gt; 2 hr</option>
            </select>
          </div><a href="#" class="w-button go-btn">ROLL</a><a href="#" class="w-button man-btn">Select</a>
        </div>
        <div class="day-res"><img width="150" src="images/mains.jpg" class="res-img">
        </div>
        <h4 class="title-roll">Braten</h4>
        <h5 class="dur-roll">1 Stunde 30 Minuten</h5>
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="w-row day-row">
      {% endif %}
    {% endfor %}
    </div>
</div>
