{% extends 'base.html' %}

{% block body %}
  <body class="roll-body">
  <div class="modal-wrapper">
    <div class="select-days-wrapper">
      <h1 class="h3-roll">Zeitraum wählen</h1>
      <div class="w-form">
        <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="days-form">
          {#          {% csrf_token %}#}
          {#          <label class="days-title">Tage:</label>#}
          {#          {{ date_form.days }}#}
          {#          <label class="days-title">Startdatum:</label>#}
          {#          {{ date_form.date }}#}
          <label for="day-field" class="days-title">Tage:</label>
          <select id="day-field" name="field-42" class="w-select days-sel" required>
            <option value=3>3 Tage</option>
            <option value=4>4 Tage</option>
            <option value=5>5 Tage</option>
            <option value=6>6 Tage</option>
            <option value=7>7 Tage</option>
          </select>
          <label class="days-title">Startdatum:</label>
          <div class="w-embed date-field">
            <input class="w-input" type="date" name="date" id="date" required>
          </div>
          <input type="submit" id="submit-modal1" value="OK" data-wait="Please wait..." data-ix="close-modal" class="w-button accept-btn">
        </form>
      </div>
    </div>
  </div>
  <div data-ix="modal-interaction" class="modal-wrapper2">
    <div class="select-days-wrapper">
      <h1 class="h3-roll">Zeitraum wählen</h1>
      <div class="zusammenfassung">
        <div class="w-row">
          <div class="w-col w-col-6">
            <h4 class="home-h5">Essensplan</h4>
            <ul>
              <li class="zusammenfassung-essen">23.11. Schweinebraten</li>
              <li class="zusammenfassung-essen">24.11. Schweinebraten</li>
              <li class="zusammenfassung-essen">25.11. Schweinebraten</li>
              <li class="zusammenfassung-essen">26.11. Schweinebraten</li>
              <li class="zusammenfassung-essen">27.11. Schweinebraten</li>
              <li class="zusammenfassung-essen">28.11. Schweinebraten</li>
              <li class="zusammenfassung-essen">29.11. Schweinebraten</li>
            </ul>
          </div>
          <div class="w-col w-col-6">
            <h4>Einkaufsliste</h4>
            <ul>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
              <li>Karotten 500g</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-6"><a href="#" data-ix="close-modal2" class="w-button accept-btn">Abbrechen</a>
        </div>
        <div class="w-col w-col-6"><a href="#" data-ix="close-modal2" class="w-button accept-btn">Ok (Email senden)</a>
        </div>
      </div>
    </div>
  </div>
  <div id="config">{% include 'roll-config.html' with start=start end=end days=days categories=categories %}</div>
  <a href="#" data-ix="modal-interaction" class="w-button change-date">Datum ändern</a>
</body>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>

    jQuery("#email-form-2").bind('submit', function(event){

      event.preventDefault();
      var days = $('#day-field').val();
      alert(days);
      var date = $('#date').val();
      alert(date);


      $.get('/date-config/', {days: days,
        date: date}, function(res) {
        $('#config').html(res);
      } );
    });
  </script>
{% endblock %}